* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.activeHome {
  color: #c7cd13;
  font-size: 5em;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 0%, rgb(0, 212, 255) 100%);
  transition: all 0.3s ease-in-out;
}

.notActiveHome {
  color: #67173c;
  font-size: 2.2em;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, gold, purple, grey);
  transition: all 0.3s ease-in-out;
}