* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-list {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        margin: 0 1em;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }
    .activeRoute {
    color: cyan;
    font-size: 2.5em;
    text-decoration: dotted;
}
}

li {
    width: 100%;
}

.projects {
background: yellow;
display: flex;
justify-content: center;
}

.contact {
    background: blue;
    display: flex;
    justify-content: center;
}

.about {
    background: red;
    display: flex;
    justify-content: center;
    background: salmon;
}



